{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Curio{% endblock %}</title>

    <!-- Zephyr Bootswatch -->
    <link rel="stylesheet" href="{% static 'css/zephyr.min.css' %}">

    <!-- Navbar style -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

    <!-- Curio style -->
    <link rel="stylesheet" href="{% static 'css/curious.css' %}">

    {% block override_style %}{% endblock %}

</head>
<body>
    <!-- Bootstrap navbar -->
    {% include 'includes/navbar.html' %}
    {% if messages %}
    <div class="container">

        {% for message in messages %}
            <div class="alert {% if 'error' in message.tags %}alert-danger{% elif 'success' in message.tags %}alert-success{% elif 'warning' in message.tags %}alert-warning{% else %}alert-info{% endif %} alert-dismissible fade show my-4" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% block content %}{% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"></script>
    
    {% block extra_js %}{% endblock %}
</body>

</html>
