{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Curio{% endblock %}</title>

    <!-- Zephyr Bootswatch -->
    <link rel="stylesheet" href="{% static 'css/zephyr.min.css' %}">

    <!-- Navbar style -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

    <!-- Curio style -->
    <link rel="stylesheet" href="{% static 'css/curious.css' %}">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/png">

    {% block override_style %}{% endblock %}

</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Bootstrap navbar -->
    {% include 'includes/navbar.html' %}
    {% if messages %}
    <div class="container">

        {% for message in messages %}
            <div class="alert {% if 'error' in message.tags %}alert-danger{% elif 'success' in message.tags %}alert-success{% elif 'warning' in message.tags %}alert-warning{% else %}alert-info{% endif %} alert-dismissible fade show my-4" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <main class="flex-fill">
        {% block content %}{% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"></script>

    {% block extra_js %}{% endblock %}
</body>

</html>
